- hosts: localhost
  become: false
  gather_facts: false
  tasks:

    # Create variables files for images and VMs
    - name: Create Variable Files
      include_role:
        name: create_variables_file
      vars:
        variable_name: '{{item}}'
      loop:
        '{{variable_files}}'

- hosts: pvenodes[0]
  become: true
  gather_facts: false

  roles:
    # Download container images
    - download_ct_images

- hosts: pvenodes[0]
  become: false
  gather_facts: true

  roles:
    # Create CTs
    - create_cts
    - start_cts
    - stop_cts
    - delete_cts

- hosts: pvenodes[0]
  become: true
  gather_facts: false
  roles:
    #- k3s_lxc_config
    - create_cts_bind_mounts
