http:
  #region routers
  routers:
    traefik-secure:
      entryPoints:
        - "https"
      rule: "Host(`traefik.local.courgettes.club`)"
      middlewares:
        - traefik-auth
        - localipwhitelist
      service: api@internal
      tls:
        certResolver: infomaniak
        domains:
          - main: local.courgettes.club
            sans:
              - "*.local.courgettes.club"
          - main: proxmox.local.courgettes.club
            sans:
              - "*.proxmox.local.courgettes.club"
    paperless:
      entryPoints:
        - "https"
      rule: "Host(`paperless.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: paperless
    #homeAssistant:
    #  entryPoints:
    #    - "https"
    #  rule: "Host(`ha.local.courgettes.club`)"
    #  middlewares:
    #    - default-headers
    # tls: {}
    #  service: homeAssistant
    synology:
      entryPoints:
        - "https"
      rule: "Host(`synology.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: synology
    synology2:
      entryPoints:
        - "https"
      rule: "Host(`synology2.local.courgettes.club`)"
      middlewares:
        - default-headers
      service: synology2
    uptime:
      entryPoints:
        - "https"
      rule: "Host(`uptime.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: uptime
    jellyfin:
      entryPoints:
        - "https"
      rule: "Host(`jellyfin.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: jellyfin
    nwCheckerDefault:
      entryPoints:
        - "https"
      rule: "Host(`nc-default.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: nwCheckerDefault
    nwCheckerEntertainment:
      entryPoints:
        - "https"
      rule: "Host(`nc-entertainment.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: nwCheckerEntertainment
    nwCheckerGuest:
      entryPoints:
        - "https"
      rule: "Host(`nc-guest.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: nwCheckerGuest
    nwCheckerCrusted:
      entryPoints:
        - "https"
      rule: "Host(`nc-crusted.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: nwCheckerCrusted
    nwCheckerDMZ:
      entryPoints:
        - "https"
      rule: "Host(`nc-dmz.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: nwCheckerDMZ
    proxmox1:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.local.courgettes.club`) || Host(`node1.proxmox.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: proxmox1
    pbs:
      entryPoints:
        - "https"
      rule: "Host(`pbs.local.courgettes.club`) || Host(`pbs.proxmox.local.courgettes.club`) || Host(`backup.proxmox.local.courgettes.club`)"
      middlewares:
        - default-headers
      tls: {}
      service: pbs

  #endregion
  #region services
  services:
    paperless:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_minix']['ansible_host']}}"
        passHostHeader: true
    #homeAssistant:
    #  loadBalancer:
    #    servers:
    #      - url: "https://10.10.0.247"
    #    passHostHeader: true
    synology:
      loadBalancer:
        servers:
          - url: "https://10.10.0.252:5001"
          - url: "https://10.10.0.251:5001"
        passHostHeader: true
    synology2:
      loadBalancer:
        servers:
          - url: "https://10.10.0.200:5001"
        passHostHeader: true
    uptime:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_uptimekuma']['ansible_host']}}"
        passHostHeader: true
    jellyfin:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_minix']['ansible_host']}}"
        passHostHeader: true
    nwCheckerDefault:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_default']['ansible_host']}}"
        passHostHeader: true
    nwCheckerEntertainment:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_entertainment']['ansible_host']}}"
        passHostHeader: true
    nwCheckerGuest:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_guest']['ansible_host']}}"
        passHostHeader: true
    nwCheckerCrusted:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_cursted']['ansible_host']}}"
        passHostHeader: true
    nwCheckerDMZ:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_dmz']['ansible_host']}}"
        passHostHeader: true
    proxmox1:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_main_node']['ansible_host']}}:8006"
        passHostHeader: true
    pbs:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_pbs']['ansible_host']}}:8007"
        passHostHeader: true
  #endregion
  middlewares:
    traefik-auth:
      basicAuth:
        users:
          - "admin:{{traefik_basic_auth}}"

    localipwhitelist:
      ipWhiteList:
        sourceRange:
          - "10.10.0.0/23"

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          "X-Forwarded-Proto": https