http:
  #region routers
  routers:
    paperless:
      entryPoints:
        - "https"
      rule: "Host(`paperless.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: paperless
    homeAssistant:
      entryPoints:
        - "https"
      rule: "Host(`ha.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: homeAssistant
    synology:
      entryPoints:
        - "https"
      rule: "Host(`synology.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: synology
    synology2:
      entryPoints:
        - "https"
      rule: "Host(`synology2.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: synology2
    uptime:
      entryPoints:
        - "https"
      rule: "Host(`uptime.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: uptime
    jellyfin:
      entryPoints:
        - "https"
      rule: "Host(`jellyfin.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls:
        certresolver: infomaniak
      service: jellyfin
    nwCheckerDefault:
      entryPoints:
        - "https"
      rule: "Host(`nc-default.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nwCheckerDefault
    nwCheckerEntertainment:
      entryPoints:
        - "https"
      rule: "Host(`nc-entertainment.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nwCheckerEntertainment
    nwCheckerGuest:
      entryPoints:
        - "https"
      rule: "Host(`nc-guest.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nwCheckerGuest
    nwCheckerCrusted:
      entryPoints:
        - "https"
      rule: "Host(`nc-crusted.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nwCheckerCrusted
    nwCheckerDMZ:
      entryPoints:
        - "https"
      rule: "Host(`nc-dmz.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nwCheckerDMZ
    proxmox:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.local.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: proxmox

  #endregion
  #region services
  services:
    paperless:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_minix']['ansible_host']}}"
        passHostHeader: true
    #homeAssistant:
    #  loadBalancer:
    #    servers:
    #      - url: "https://10.10.0.247"
    #    passHostHeader: true
    synology:
      loadBalancer:
        servers:
          - url: "https://10.10.0.252:5001"
          - url: "https://10.10.0.251:5001"
        passHostHeader: true
    synology2:
      loadBalancer:
        servers:
          - url: "https://10.10.0.200:5001"
        passHostHeader: true
    uptime:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_uptimekuma']['ansible_host']}}"
        passHostHeader: true
    jellyfin:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_minix']['ansible_host']}}"
        passHostHeader: true
    nwCheckerDefault:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_default']['ansible_host']}}"
        passHostHeader: true
    nwCheckerEntertainment:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_entertainment']['ansible_host']}}"
        passHostHeader: true
    nwCheckerGuest:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_guest']['ansible_host']}}"
        passHostHeader: true
    nwCheckerCrusted:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_cursted']['ansible_host']}}"
        passHostHeader: true
    nwCheckerDMZ:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_network_checker_dmz']['ansible_host']}}"
        passHostHeader: true
    proxmox:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_pvenodes']['ansible_host']}}:8006"
        passHostHeader: true
  #endregion
  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
        #replacement: '/'

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          "X-Forwarded-Proto": https