services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    #networks:
    #  - proxy
    ports:
      - 80:80
      - 443:443
    environment:
      - INFOMANIAK_ACCESS_TOKEN={{infomaniak_api_token}}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/traefik.yml:/traefik.yml:ro
      - ./data/acme.json:/acme.json
      - ./data/acme-letsencrypt.json:/acme-letsencrypt.json
      - ./data/config.yml:/config.yml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.rule=Host(`traefik.local.courgettes.club`)"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=admin:{{traefik_basic_auth}}"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.localipwhitelist.ipwhitelist.sourcerange=10.10.0.0/23"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.local.courgettes.club`)"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth,localipwhitelist"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=infomaniak"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=local.courgettes.club"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.local.courgettes.club"
      - "traefik.http.routers.traefik-secure.service=api@internal"

#networks:
#  proxy:
#    external: true