http:
  #region routers
  routers:
    #grafana:
    #  entryPoints:
    #    - "https"
    #  rule: "Host(`grafana.courgettes.club`)"
    #  middlewares:
    #    - default-headers
    #    - https-redirectscheme
    #  tls:
    #    certresolver: letsencrypt
    #  service: grafana
    airhorn:
      entryPoints:
        - "https"
      rule: "Host(`airhorn.courgettes.club`) || Host(`airhorn.wav.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - wav-to-airhorn-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    #headscale:
    #  entryPoints:
    #    - "https"
    #  rule: "Host(`headscale.courgettes.club`)"
    #  middlewares:
    #    - default-headers
    #    - https-redirectscheme
    #  tls:
    #    certresolver: letsencrypt
    #  service: websites-nico
    egj:
      entryPoints:
        - "https"
      rule: "Host(`egj2021.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls:
        certresolver: letsencrypt
      service: websites-nico
    arr:
      entryPoints:
        - "https"
      rule: "Host(`sonarr.local-dmz.courgettes.club`) || Host(`radarr.local-dmz.courgettes.club`) || Host(`prowlarr.local-dmz.courgettes.club`) || Host(`qbittorrent.local-dmz.courgettes.club`) || Host(`jellyseerr.local-dmz.courgettes.club`)"
      middlewares:
        - local-only
        - default-headers
        - https-redirectscheme
      tls:
        certresolver: infomaniak
      service: websites-arr
    nextcloud:
      entryPoints:
        - "https"
      rule: "Host(`nextcloud.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: nextcloud
    courgettes:
      entryPoints:
        - "https"
      rule: "Host(`courgettes.club`) || Host(`www.courgettes.club`) || Host(`budget.courgettes.club`) || Host(`contra.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    test:
      entryPoints:
        - "https"
      rule: "Host(`test.courgettes.club`) || Host(`www.test.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    pocket:
      entryPoints:
        - "https"
      rule: "Host(`mouni.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-pocket
    gpu:
      entryPoints:
        - "https"
      rule: "Host(`ollama.local-dmz.courgettes.club`) || Host(`tabby.local-dmz.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
        - local-only
      tls:
        certresolver: infomaniak
      service: gpu
  #endregion
  #region services
  services:
    #grafana:
    #  loadBalancer:
    #    servers:
    #      - url: "http://10.10.5.10"
    #    passHostHeader: true
    websites-nico:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_websites']['ansible_host']}}"
        passHostHeader: true
    websites-arr:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_arr_server']['ansible_host']}}"
        passHostHeader: true
    gpu:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_gpu']['ansible_host']}}"
        passHostHeader: true
    nextcloud:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_nextcloud']['ansible_host']}}"
        passHostHeader: true
    websites-pocket:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_vm_pocket']['ansible_host']}}"
        passHostHeader: true
  #endregion
  middlewares:
    # Redirect www URLs to their non-www equivalent
    # Use with traefik.http.routers.myRouter.middlewares: "redirect-www-to-non-www@file"
    www-to-non-www-redirection:
      # Redirect a request from an url to another with regex matching and replacement
      redirectregex:
        # Apply a permanent redirection (HTTP 301)
        permanent: true
        # The regular expression to match and capture elements from the request URL
        regex: "^https?://www\\.(.+)"
        # How to modify the URL to have the new target URL
        replacement: "https://${1}"

    wav-to-airhorn-redirection:
      redirectregex:
        permanent: true
        regex: "^https:?://airhorn.courgettes.club"
        replacement: "https://airhorn.wav.courgettes.club"

    mcaraccio-to-piratefache-redirection:
      redirectregex:
        permanent: true
        regex: "^https:?://mcaraccio.ch"
        replacement: "https://piratefache.ch"

    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
        #replacement: '/'

    local-only:
      ipwhitelist:
        sourcerange: "10.10.0.0/23,10.10.2.0/24,10.10.5.0/24"

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          "X-Forwarded-Proto": https