http:
  #region routers
  routers:
    traefik-secure:
      entryPoints:
        - "https"
      rule: "Host(`traefik.local-dmz.courgettes.club`)"
      middlewares:
        - traefik-auth
        - localipwhitelist
      service: api@internal
      tls:
        certResolver: infomaniak
        domains:
          - main: local-dmz.courgettes.club
            sans:
              - "*.local-dmz.courgettes.club"
    #grafana:
    #  entryPoints:
    #    - "https"
    #  rule: "Host(`grafana.courgettes.club`)"
    #  middlewares:
    #    - default-headers
    #  tls:
    #    certresolver: letsencrypt
    #  service: grafana
    airhorn:
      entryPoints:
        - "https"
      rule: "Host(`airhorn.courgettes.club`) || Host(`airhorn.wav.courgettes.club`)"
      middlewares:
        - default-headers
        - wav-to-airhorn-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    #headscale:
    #  entryPoints:
    #    - "https"
    #  rule: "Host(`headscale.courgettes.club`)"
    #  middlewares:
    #    - default-headers
    #  tls:
    #    certresolver: letsencrypt
    #  service: websites-nico
    egj:
      entryPoints:
        - "https"
      rule: "Host(`egj2021.courgettes.club`)"
      middlewares:
        - default-headers
      tls:
        certresolver: letsencrypt
      service: websites-nico
    arr:
      entryPoints:
        - "https"
      rule: "Host(`sonarr.local-dmz.courgettes.club`) || Host(`radarr.local-dmz.courgettes.club`) || Host(`prowlarr.local-dmz.courgettes.club`) || Host(`qbittorrent.local-dmz.courgettes.club`) || Host(`jellyseerr.local-dmz.courgettes.club`)"
      middlewares:
        - local-only
        - default-headers
      tls:
        certresolver: infomaniak
      service: websites-arr
    nextcloud:
      entryPoints:
        - "https"
      rule: "Host(`nextcloud.courgettes.club`)"
      middlewares:
        - default-headers
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: nextcloud
    courgettes:
      entryPoints:
        - "https"
      rule: "Host(`courgettes.club`) || Host(`www.courgettes.club`) || Host(`budget.courgettes.club`) || Host(`contra.courgettes.club`)"
      middlewares:
        - default-headers
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    test:
      entryPoints:
        - "https"
      rule: "Host(`test.courgettes.club`) || Host(`www.test.courgettes.club`)"
      middlewares:
        - default-headers
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    pocket:
      entryPoints:
        - "https"
      rule: "Host(`mouni.courgettes.club`)"
      middlewares:
        - default-headers
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-pocket
    gpu:
      entryPoints:
        - "https"
      rule: "Host(`ollama.local-dmz.courgettes.club`) || Host(`tabby.local-dmz.courgettes.club`)"
      middlewares:
        - local-only
        - default-headers
        - www-to-non-www-redirection
      tls:
        certresolver: infomaniak
      service: gpu
    authelia:
      rule: "Host(`auth.courgettes.club`)"
      entryPoints:
        - "https"
      service: authelia
      middlewares:
        - default-headers
      tls:
        certResolver: letsencrypt
    lldap:
      rule: "Host(`lldap.courgettes.club`)"
      entryPoints:
        - "https"
      middlewares:
        - default-headers
        - authelia@file
      service: lldap
      tls:
        certResolver: letsencrypt
  #endregion
  #region services
  services:
    #grafana:
    #  loadBalancer:
    #    servers:
    #      - url: "http://10.10.5.10"
    #    passHostHeader: true
    websites-nico:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_websites']['ansible_host']}}"
        passHostHeader: true
    websites-arr:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_arr_server']['ansible_host']}}"
        passHostHeader: true
    gpu:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_gpu']['ansible_host']}}"
        passHostHeader: true
    nextcloud:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_nextcloud']['ansible_host']}}"
        passHostHeader: true
    websites-pocket:
      loadBalancer:
        servers:
          - url: "https://{{hostvars['host_vm_pocket']['ansible_host']}}"
        passHostHeader: true
    authelia:
      loadBalancer:
        servers:
          # assumes "authelia" is a valid domain (i.e. inside the same docker network)
          - url: http://authelia:9091
    lldap:
      loadBalancer:
        servers:
          # assumes "lldap" is a valid domain (i.e. inside the same docker network)
          - url: http://lldap:17170
  #endregion
  middlewares:
    traefik-auth:
      basicAuth:
        users:
          - "admin:{{traefik_basic_auth}}"

    localipwhitelist:
      ipWhiteList:
        sourceRange:
          - "10.10.0.0/23"

    # Redirect www URLs to their non-www equivalent
    # Use with traefik.http.routers.myRouter.middlewares: "redirect-www-to-non-www@file"
    www-to-non-www-redirection:
      # Redirect a request from an url to another with regex matching and replacement
      redirectregex:
        # Apply a permanent redirection (HTTP 301)
        permanent: true
        # The regular expression to match and capture elements from the request URL
        regex: "^https?://www\\.(.+)"
        # How to modify the URL to have the new target URL
        replacement: "https://${1}"

    wav-to-airhorn-redirection:
      redirectregex:
        permanent: true
        regex: "^https:?://airhorn.courgettes.club"
        replacement: "https://airhorn.wav.courgettes.club"

    local-only:
      ipwhitelist:
        sourcerange: "10.10.0.0/23,10.10.2.0/24,10.10.5.0/24"

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          "X-Forwarded-Proto": https

    authelia:
      forwardAuth:
        # assumes "authelia" is a valid domain (i.e. inside the same docker network)
        address: http://authelia:9091/api/verify?rd=https://auth.courgettes.club
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Email
          - Remote-Name
