http:
  #region routers
  routers:
    airhorn:
      entryPoints:
        - "https"
      rule: "Host(`airhorn.courgettes.club`) || Host(`airhorn.wav.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - wav-to-airhorn-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    headscale:
      entryPoints:
        - "https"
      rule: "Host(`headscale.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls:
        certresolver: letsencrypt
      service: websites-nico
    egj:
      entryPoints:
        - "https"
      rule: "Host(`egj2021.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls:
        certresolver: letsencrypt
      service: websites-nico
    courgettes:
      entryPoints:
        - "https"
      rule: "Host(`courgettes.club`) || Host(`www.courgettes.club`) || Host(`budget.courgettes.club`) || Host(`contra.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    test:
      entryPoints:
        - "https"
      rule: "Host(`test.courgettes.club`) || Host(`www.test.courgettes.club`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-nico
    piratefache:
      entryPoints:
        - "https"
      rule: "Host(`piratefache.ch`) || Host(`www.piratefache.ch`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
      tls:
        certresolver: letsencrypt
      service: websites-cara
    mcaraccio:
      entryPoints:
        - "https"
      rule: "Host(`mcaraccio.ch`) || Host(`www.mcaraccio.ch`)"
      middlewares:
        - default-headers
        - https-redirectscheme
        - www-to-non-www-redirection
        - mcaraccio-to-piratefache-redirection
      tls:
        certresolver: letsencrypt
      service: websites-cara

  #endregion
  #region services
  services:
    websites-nico:
      loadBalancer:
        servers:
          - url: "https://10.10.5.249"
        passHostHeader: true
    websites-cara:
      loadBalancer:
        servers:
          - url: "https://10.10.5.101"
        passHostHeader: true
  #endregion
  middlewares:
    # Redirect www URLs to their non-www equivalent
    # Use with traefik.http.routers.myRouter.middlewares: "redirect-www-to-non-www@file"
    www-to-non-www-redirection:
      # Redirect a request from an url to another with regex matching and replacement
      redirectregex:
        # Apply a permanent redirection (HTTP 301)
        permanent: true
        # The regular expression to match and capture elements from the request URL
        regex: "^https?://www\\.(.+)"
        # How to modify the URL to have the new target URL
        replacement: "https://${1}"

    wav-to-airhorn-redirection:
      redirectregex:
        permanent: true
        regex: "^https:?://airhorn.courgettes.club"
        replacement: "https://airhorn.wav.courgettes.club"

    mcaraccio-to-piratefache-redirection:
      redirectregex:
        permanent: true
        regex: "^https:?://mcaraccio.ch"
        replacement: "https://piratefache.ch"

    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
        #replacement: '/'

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https