services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    # Add Configurations for GPU Hardware Rendering Here:
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${FOLDER_FOR_DATA:?err}:/config
      - ${FOLDER_FOR_MEDIA:?err}:/data/media
    ports:
      - "127.0.0.1:${WEBUI_PORT_JELLYFIN:?err}:8096"
    #      - 7359:7359/udp      # Enable for DLNA - Only works on HOST Network Mode
    #      - 1900:1900/udp      # Enable for DLNA - Only works on HOST Network Mode
    environment:
      - PUID=${PUID:?err}
      - PGID=${PGID:?err}
      - UMASK=${UMASK:?err}
      - TZ=${TIMEZONE:?err}
    #      - JELLYFIN_PublishedServerUrl=${LOCAL_DOCKER_IP:?err}  # Enable for DLNA - Only works on HOST Network Mode