- name: Create CT
  vars:
    ansible_python_interpreter: /usr/bin/python3
  community.general.proxmox:
    api_user: "{{ api_user }}"
    api_token_id: "{{ api_token_name }}"
    api_token_secret: "{{ api_token }}"
    api_host: "{{ ansible_host }}"
    # needed so that SSH is enabled :/
    password: "{{ lookup('ansible.builtin.password', '/tmp/passwordfile', chars=['ascii_letters', 'digits', 'punctuation'], length=20) }}"
    pubkey: '{{ lookup("file", ansible_key_file) }}'
    node: '{{item.node}}'
    vmid: '{{item.ctid}}'
    ostype: "debian"
    disk: '{{disk_storage}}:{{item.disk | default(4)}}'
    mounts: '{{ item.mounts | default(omit) }}'
    ostemplate: '{{cts_storage}}:vztmpl/{{item.image_name}}'
    cpus: '{{item.cpus}}'
    cores: '{{item.cores}}'
    memory: '{{item.memory}}'
    netif: '{"net0":"name=eth0,gw={{item.ipv4_gateway}},ip={{item.ipv4_address}},bridge={{linux_bridge}},tag={{item.vlan}}"}'
    hostname: "{{ item.name | replace('_', '-') }}{{item.domain_name | default(default_domain_name)}}"
    unprivileged: '{{item.unprivileged | default(omit)}}'
    timezone: host
    onboot: true
    state: present
    force: true
    # can't have feature flags when running a privileged container
    features: "{{ ['nesting=1'] if (item.unprivileged | default(false)) else omit }}"
  loop: '{{cts}}'
  when: 'item.state == "new"'