- name: include tasks for all websites
  include_tasks: "{{item.filename}}"
  loop: "{{website_hosts}}"

- name: Create nginx conf
  template:
    src: nginx-reverse-proxy.conf
    dest: '/etc/nginx/sites-available/{{item.host}}-nginx.conf'
    owner: root
    group: root
    mode: 0777
  loop: "{{website_hosts}}"
  vars:
    server_name: "{{item.host}}"
    container_port: "{{item.port}}"

- name: Create a symbolic link for nginx conf
  ansible.builtin.file:
    src: '/etc/nginx/sites-available/{{item.host}}-nginx.conf'
    dest: '/etc/nginx/sites-enabled/{{item.host}}-nginx.conf'
    owner: root
    group: root
    state: link
  loop: "{{website_hosts}}"

- name: restart nginx
  service: name=nginx state=restarted
